/* ui-controlgroup ui-controlgroup-horizontal ui-corner-all */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?w5ync0');
  src: url('../fonts/icomoon.eot?w5ync0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w5ync0') format('truetype'),
    url('../fonts/icomoon.woff?w5ync0') format('woff'),
    url('../fonts/icomoon.svg?w5ync0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.2rem;
  /* move icons down to center */
  display: block;
  margin-top: 1px;
}

.icon-loop:before {
  content: "\e900";
}
.icon-refresh:before {
  content: "\e900";
}
.icon-reload1:before {
  content: "\e900";
}
.icon-reset:before {
  content: "\e900";
}
.icon-arrows:before {
  content: "\e900";
}
.icon-reload:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-cheveron-up:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-nt:before {
  content: "\e907";
}
.icon-clubs:before {
  content: "\e908";
}
.icon-diamonds:before {
  content: "\e909";
  color: #af0f31;
}
.icon-hearts:before {
  content: "\e90a";
  color: #af0f31;
}
.icon-spades:before {
  content: "\e90b";
}
.icon-cheveron-outline-up:before {
  content: "\e905";
}
.icon-refresh1:before {
  content: "\e906";
}

/* color: #af0f31; */


/* ============================================================================
|   Custom Classes
|  ===========================================================================*/
/* ui-header ui-bar-inherit */

/* 
light green #8cc63f 
orange #e88717
*/

/* container for content */
.wrapper {
  max-width: 500px;
  /* restrict width to keep aesthetically pleasing on larger screens*/
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  position: relative;
  padding: 8px;
}

.container {
  background:rgb(250,250,250);
  padding: 5px;
  border: 1px solid rgb(220,220,220);
  box-shadow: 0.5px 0.5px 1px 0  rgb(235,235,235);
  margin-bottom: 1rem;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

/* box to display scores */
.bx {
  background-color: #f6f6f6;
  /* background-color: #72d6a8; */
  border: 1px solid #dddddd;
  color: #333333;
  padding: 8px 15px;
  font-size: 1.3rem;

}


/* overide pop up position*/
.ui-popup-container.ui-popup-active {
  top: 20px !important;
  left: 20px !important;
  right: 20px !important;
  margin-top: 20px !important;
  max-width: 100% !important;
}

/* pop up container */
.ui-content.ui-popup.ui-body-inherit {
  background: #000;
  max-width: 100% !important;
}

/* ============================================================================
|   Information boxes
|  ===========================================================================*/

#gameSummary p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
}

#gameSummary h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#gameSummary strong {
  width: 50%;
  /* push details in line*/
  display: inline-block;
}


/* ============================================================================
|   Utility Classes
|  ===========================================================================*/

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 5px;
}

.txt-green {}

.txt-red {
  color: #FF0000;
}

.success {
  color: #fff;
  background-color: #8cc63f;
}

.danger {
  color: #fff;
  background-color: #BD3D3A;
}

.ui-btn.danger{
  background-color: #dc3545;
  border-color: #BD3D3A;
  color: #fff;
}

/* ============================================================================
|   jQuery Overides 
|  ===========================================================================*/

/* add 'nbw' class as an easy way to initiate overide */

/* inner container for 'ui-control-group' */

.flexCon,
.nbw .ui-controlgroup-controls {
  display: flex;
}

.flx-item,
.nbw .ui-controlgroup-controls .ui-radio {
  /* flex-grow: 1 !important; */
  flex-basis: 100%;
  /* evens out items ??? */
}


.nbw label.ui-btn {
  text-align: center;
}

.nbw .ui-btn {
  padding: 7px 0;
}





/* use to override ui-corner-all */
.remove-rounded {
  border-radius: 0;
}

.ui-footer{
  background: rgba(10,10,10,0.9) !important;
}

.ui-btn.btn-trans{
  background: none !important;
}


/* 

padding: 0;
    width: 1.75em;
    height: 1.75em;
    text-indent: -9999px;
    white-space: nowrap !important;
*/